
<wa-header-lib> </wa-header-lib>
<div style="display: flex; margin-left: 8px; margin-right: 8px;  margin-top:10px" >

  <game style="width:100%"></game>
  <app-contacts style="width: 100%;"></app-contacts>

</div>

<!--
<div class="container">

  <simple-main></simple-main>
  <hr/>
  <reactive-main></reactive-main>
  <hr/>
  <ngrx-main></ngrx-main>


</div>-->

<!--
-->
<div style="display: flex; justify-content: center;">
  <!--<router-outlet></router-outlet>-->
  <app-todo-main > </app-todo-main>
</div>
